.cards {
  max-width: 920px;
  margin: 60px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 100px;
  text-align: center;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 50px;

  }
}

@media screen and (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

