.header__square-pic {
  width: 36vw;
  height: 36vw;
  position: absolute;
  right: 0;
  top: 18vw;
  background-color: #2f80ed;
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .header__square-pic {
    width: 700px;
    height: 700px;
    top: 200px;
    right: -90px;
  }
}

@media screen and (max-width: 768px) {
  .header__square-pic {
    top: -10vw;
    right: -10vw;
  }
}

@media screen and (max-width: 450px) {
  .header__square-pic {
    top: 5vw;
    right: -60vw;
    width: 80vw;
    height: 80vw;
  }
}
