.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .footer__column_content_copyright {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}
