.khan__quote {
  max-width: 790px;
  margin: 0;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

@media screen and (max-width: 580px) {
  .khan__quote {
    line-height: 1.2;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
