.video__iframes {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 515px);
  gap: 20px;
  list-style-type: none;
  position: relative;
  top: 50px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .video__iframes {
    grid-template-columns: minmax(270px, 515px);
  }
}
