.cards__description {
  margin: 0;
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 650px) {
  .cards__description {
    line-height: 1.2;
    font-size: 16px;
    max-width: 300px;
    margin: 20px auto;
  }
}
