.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link::after {
  content: " →";
}

.feynman__link:hover {
  opacity: 0.6;
  transition: 0.5s;
}
