.feedback__form {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: -1;
  padding-top: 10%;
  display: none;
}

@media screen and (max-width: 1024px) {
  .feedback__form {
    padding-top: 20%;
  }
}

@media screen and (max-width: 650px) {
  .feedback__form {
    padding-top: 30%;
  }
}

@media screen and (max-width: 450px) {
  .feedback__form {
    padding-top: 40%;
  }
}


