.feedback__container {
  max-width: 500px;
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
  text-align: center;
  position: relative;
}
