.footer__columns {
  width: 90%;
  color: white;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(200px, 5fr) minmax(150px, 1fr) minmax(150px, 1fr);
}


@media screen and (max-width: 620px) {
  .footer__columns {
    grid-template-columns: 1fr 1fr;
    gap: 50px 0;
  }
}
