/* Масштабирует элементы, делая их больше или меньше. Значения от 0 до 1 уменьшают элемент.
Первое значение масштабирует элемент по ширине, второе — по высоте. Отрицательные значения
отображают элемент зеркально. */

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        box-shadow: 0 0 10px black;
        border-radius: 10%;
    }
  }

  .scale:hover {
    animation: scale 1s linear forwards;
  }
