.header {
  min-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: 656px;
  }
}
