.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  .feynman__subtitle {
    max-width: 300px;
    font-size: 25px;
    line-height: 23px;
  }
}

@media screen and (max-width: 450px) {
  .feynman__subtitle {
    line-height: 15px;
    font-size: 18px;
  }
}
