.table {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .table {
    grid-template-columns: repeat(3, 250px);
  }
}
@media screen and (max-width: 768px) {
  .table {
    grid-template-columns: repeat(2, 250px);
  }
}
@media screen and (max-width: 500px) {
  .table {
    width: 250px;
    grid-template-columns: repeat(1, 250px);
  }
}
