.resources__logo-zone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  list-style-type: none;
  width: 80%;
  margin: 80px auto 0;
  padding: 0;
}

@media screen and (max-width: 1070px) {
  .resources__logo-zone {
    margin: 40px auto 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

@media screen and (max-width: 500px) {
  .resources__logo-zone {
    grid-template-columns: repeat(1, 1fr);
  }
}

