.header__subtitle {
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 5;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .header__subtitle {
    max-width: 300px;
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 450px) {
  .header__subtitle {
    left: 10vw;
    bottom: 38%;
    line-height: 1.2;
    font-size: 16px;
  }
}
