.header__main-illustration {
  width: 50vw;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

@media screen and (max-width: 450px) {
  .header__main-illustration {
    width: 65vw;
  }
}
